<section>
    <div class="container margin-Y">
    <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center align-items-center">
        <div>
            <img src="../images/img4.jpg" class="img-fluid" alt="headerpic">
        </div>
        <div class="mt-3 mt-md-0">
            <h2 class="fw-bold"><span class="h1 text-danger">A</span>bout <span class="h1 fw-bold">A</span> <span class="h1 text-danger">D</span>evoloper!</h2>
            <p class="my-4">Web developers are found working in various types of organizations, including large corporations and governments, small and medium-sized companies, or alone as freelancers. Some web developers work for one organization as a permanent full-time employee, while others may work as independent consultants, or as contractors for an agency or at home personal use.</p>
            <a href="/services" class="btn btn-info text-dark"><i class="fas fa-sign-in-alt"></i> See More</a>
        </div>
    </div>
</div>
</section>