<div class="container margin-Y">
    <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center align-items-center">
        <div >
            <h1 class="fw-bold text-capitalize"><span class="fw-light text-danger">D</span>eveloper <span class="fw-light text-danger">E</span>xpretion</h1>
            <p class="my-4">A boy named Morsalin Kausar suddenly gets lost in another world, where no one speaks her language, Bangladeshi, and all signs are in a foreign language, called Usa. Morsalin is in despair because of the language barrier, but she meets Ruka who helps her and takes her home. Meanwhile, Rin learns Juliamo and gradually draws closer emotionally to Kausar.[2]</p>
            <a href="/registration" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Registration</a>
        </div>
        <div class="mt-3 mt-md-0">
            <img src="../images/habbyrelax.jpg" class="img-fluid" alt="headerpic">
        </div>
    </div>
</div>