<div class="container margin-Y">
    <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center align-items-center">
        <div >
            <h1 class="fw-bold">Web developer!</h1>
            <p class="my-4">A web developer is a programmer who specializes in, or is specifically engaged in, the development of World Wide Web applications using a client–server model. The applications typically use HTML, CSS and JavaScript in the client, PHP, ASP.NET (C#), Python, Node.js, Go or Java in the server, and http for communications between client and server.</p>
            <a href="/login" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login</a>
        </div>
        <div class="mt-3 mt-md-0">
            <img src="../images/img5.jpg" class="w-100" alt="headerpic">
        </div>
    </div>
</div>