<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/"><span class="text-danger fw-bold h2">A</span>uthentic-<span class="text-danger fw-bold h3">W</span>eb</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-capitalize text-dark" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-capitalize text-dark" href="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-capitalize text-dark" href="/map">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-capitalize text-dark" href="/registration">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-capitalize text-dark" title="Login" href="/login"><i class="fa-2x fas fa-sign-in-alt"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-capitalize text-dark" title="logout" href="/logout"><i class="fa-2x fas fa-sign-out-alt"></i></a>
        </li>
    </div>
  </div>
</nav>
</section>