<div class="container margin-Y">
    <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center align-items-center">
        <div >
            <h1 class="fw-bold">Developer Services</h1>
            <ul>
                <li>HTML/XHTML, CSS, JavaScript and jQuery.</li>
                <li>Server/client side architecture like all or some of the above mentioned.</li>
                <li>Programming/Coding/Scripting in one of the many server-side languages or frameworks</li>
                <li>Ability to utilize a database</li>
                <li>Creating single page application with use of front-end tools such as EmberJS,[1] ReactJS[2] or AngularJS[3]</li>
            </ul>
            <a href="/map" class="btn btn-primary"><i class="fas fa-map-marker-alt"></i> Map</a>
        </div>
        <div class="mt-3 mt-md-0">
            <img src="../images/img3.jpg" class="img-fluid" alt="headerpic">
        </div>
    </div>
</div>